<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FoRd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./style.css" rel="stylesheet">
</head>
<body>
<div class="header">
  FrontOfficeRetroDesk
  <span>12.12.1212</span>
</div>
<div class="container">
  <div class="column well-went">
    <div class="caption">Well went</div>
    <button>+</button>
    <div class="item" draggable="true">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <div class="actions">
        actions buttons
      </div>
    </div>
    <div class="item">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <div class="actions">
        actions buttons
      </div>
    </div>
    <div class="item">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <div class="actions">
        actions buttons
      </div>
    </div>
  </div>
  <div class="column to-improve">
    <div class="caption">To improve</div>
    <button>+</button>
    <div class="item">
      <textarea rows="10">some text</textarea>
      <div class="actions">
        save cancel
      </div>
    </div>
    <div class="item">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <div class="actions">
        actions buttons
      </div>
    </div>
  </div>
  <div class="column action-items">
    <div class="caption">Action items</div>
    <button>+</button>
    <div class="item">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <div class="actions">
        actions buttons
      </div>
    </div>
    <div class="item">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </div>
      <div class="actions">
        actions buttons
      </div>
    </div>
  </div>
</div>

</body>
</html>
